#homework{
  margin-bottom: 20px;
}

.card-title{
  color: white;
}

.card-img-top{
  height: 180px;
}

.card{
  margin-bottom: 10px;
}

.card-img-overlay .card-text{
  color: yellow;
}

.card-img-overlay .card-text.ready{
  color: green;
}
